# fastText word query

In [9]:
from gensim.models import FastText
from word_vector.wv_query import query_word, query_words

In [3]:
model_path = "/Users/haiyang/data/test/canonicalization/word_vector/model/fastText"
model = FastText.load(model_path).wv

In [8]:
words = ["recieved", "received"]
query_words(words, model, topn=15, min_count=3)

========== recieved ==========

         word  similarity  count
0     recieve       0.921      9
1     recived       0.850     14
2   recieving       0.849      6
3    received       0.774   3044
4       rec'd       0.724     10
5    receives       0.701     10
6    receiver       0.692     12
7     receive       0.683    305
8   sponsored       0.675     47
9    courtesy       0.670     12
10  receiving       0.670    190
11   deceived       0.668      7
12   campaign       0.652     68
13   relieved       0.634     19
14  bzz agent       0.631     12

========== received ==========

         word  similarity  count
0    receiver       0.911     12
1    receives       0.906     10
2     receive       0.877    305
3    deceived       0.873      7
4     recived       0.809     14
5   receiving       0.784    190
6    recieved       0.774    125
7     recieve       0.705      9
8    receipts       0.690      6
9       rec'd       0.686     10
10  recieving       0.663      6
11    receipt       0.640     63
12    arrived       0.618   1366
13  deceiving       0.616     28
14    revived       0.616     10